{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="col-lg-6 col-sm-10 mx-auto">
        <label for="register">Register Number</label>
        <input type="text" class="form-control" id="register" name="register" value="{{student.user.username}}" disabled>
    </div>
    <div class="col-lg-6 col-sm-10 mx-auto">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{student.user.email}}" disabled>
    </div>

    <h2 class="col-lg-6 col-sm-10 mx-auto my-3">More Details</h2>

    <div class="col-lg-6 col-sm-10 mx-auto">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{student.name}}" disabled>
    </div>
    <div class="d-lg-flex col-lg-6 col-sm-10 mx-auto">
        <div class="me-lg-1">
            <label for="regulation">Regulation</label>
            <input type="text" class="form-control" id="regulation" name="regulation" value="{{student.regulation}}" disabled>
        </div>
        <div class="mx-lg-1 w-100">
            <label for="batch">Batch</label>
            <input type="text" class="form-control" id="batch" name="batch" value="{{student.batch}}" disabled>
        </div>
        <div class="ms-lg-1">
            <label for="department">Department</label>
            <input type="text" class="form-control" id="department" name="department" value="{{student.department}}" disabled>
        </div>
    </div>
    <div class="d-lg-flex col-lg-6 col-sm-10 mx-auto">
        <div class="me-lg-1">
            <label for="semester">Semester</label>
            <input type="text" class="form-control" id="semester" name="semester" value="{{student.semester}}" disabled>
        </div>
        <div class="mx-lg-1 w-100">
            <label for="section">Section</label>
            <input type="text" class="form-control" id="section" name="section" value="{{student.section}}" disabled>
        </div>
        <div class="ms-lg-1">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" value="{{student.year}}" disabled>
        </div>
    </div>
    <div class="d-lg-flex col-lg-6 col-sm-10 mx-auto">
        <div class="me-lg-1 w-100">
            <label for="date-of-birth">Date Of Birth</label>
            <input type="text" name="dob" id="date-of-birth" class="form-control" value="{{student.date_of_birth}}" disabled>
        </div>
        <div class="ms-lg-1">
            <label for="gender">Gender</label>
            <input type="text" name="gender" id="gender" class="form-control" value="{{student.gender}}" disabled>
        </div>
    </div>
    <div class="col-lg-6 col-sm-10 mx-auto">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" id="mobile" name="mobile" value="{{student.mobile}}" disabled>
    </div>
    <div class="col-lg-6 col-sm-10 mx-auto my-4">
        <a href="{% url 'profile-update' %}">Edit</a>
    </div>

</div>
{% endblock content%}